[submodule "FNA"]
	path = source/FNA
	url = https://github.com/FNA-XNA/FNA
[submodule "SDL2"]
	path = source/SDL2
	url = https://github.com/libsdl-org/SDL/
[submodule "Piton"]
	path = source/Piton
	url = https://github.com/Popax21/Piton
[submodule "source/MoltenVK"]
	path = source/MoltenVK
	url = https://github.com/KhronosGroup/MoltenVK
[submodule "source/Vulkan-Headers"]
	path = source/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "source/Vulkan-Loader"]
	path = source/Vulkan-Loader
	url = https://github.com/KhronosGroup/Vulkan-Loader
[submodule "source/SDL_GameControllerDB"]
	path = source/SDL_GameControllerDB
	url = https://github.com/mdqinc/SDL_GameControllerDB
[submodule "source/FMOD_SDL"]
	path = source/FMOD_SDL
	url = https://github.com/flibitijibibo/FMOD_SDL
[submodule "source/Steamworks.NET"]
	path = source/Steamworks.NET
	url = https://github.com/rlabrecque/Steamworks.NET
